{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Keyboard Shortcuts" %} - {% trans "AUA LMS" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h2>{% trans "Keyboard Shortcuts" %}</h2>
        <p>{% trans "Use these keyboard shortcuts to navigate the LMS efficiently." %}</p>
        
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>{% trans "Key Combination" %}</th>
                                <th>{% trans "Action" %}</th>
                                <th>{% trans "Description" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for shortcut in shortcuts %}
                                <tr>
                                    <td><kbd>{{ shortcut.key_combination }}</kbd></td>
                                    <td>{{ shortcut.action|title }}</td>
                                    <td>{{ shortcut.description }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
                <h5>{% trans "General Navigation" %}</h5>
                <ul>
                    <li><kbd>Tab</kbd> - {% trans "Navigate between interactive elements" %}</li>
                    <li><kbd>Shift + Tab</kbd> - {% trans "Navigate backwards" %}</li>
                    <li><kbd>Enter</kbd> - {% trans "Activate links and buttons" %}</li>
                    <li><kbd>Space</kbd> - {% trans "Toggle checkboxes and radio buttons" %}</li>
                    <li><kbd>Escape</kbd> - {% trans "Close modals and dropdowns" %}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}